body {
  background-color: rgb(25, 25, 25);
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: clamp(10px, 4vw, 100px)
}

#trailer {
  height: 20px;
  width: 20px;
  background-color: white;
  border-radius: 20px;
  position: fixed; /*position relative to the viewport, it always stays at the same place when you scroll*/
  left: 0;
  top: 0;
  z-index: 10000;
  pointer-events: none; /*so that any click on the trailer will pass through and reach the content underneath*/
  opacity: 0;
  transition: opacity 500ms ease;
}

/*whenever our mouse is in the document, the trailer would appear*/
body:hover > #trailer {
  opacity: 1;
}

.interactable {
  aspect-ratio: 1 / 1.5;
  width: clamp(120px, 40vmin, 600px);
  background-position: center 50%;
  background-size: 100%;
  opacity: 0.4;

  transition: background-size 400ms ease, opacity 400ms ease;
}

.interactable:hover {
  background-size: 105%;
  opacity: 0.8;
}